*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


body
{
  font-family: 'Poppins', sans-serif !important;
    background-color: #1A232C;
  color: white!important;
 
}

p{
  letter-spacing: .5px;
  line-height: 1.6;
 
}

/* Background Color */

/* blackish */
.blackish
{
  background-color: #0F161C;
  
}
.blueish
{
  background-color: #1A232C;
}


.text-header
{
 color: #f5f5f5;
 letter-spacing: -0.5px;
 font-weight: 600;
}

.background1
{
  
  
  /*background-image: url("https://i.ibb.co/GPFCzrL/banner.png")  !important;*/
  background-image: url(../images/Cover/banner.png)  !important;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-color: rgba(0,0,0,0.5);
  }

.margin
{
 
  padding:  2rem 0 2rem 0 ;
}

.margin-contact
{
  padding:  2rem 0 10rem 0 ;
}

/* header */
.header-bg
{
  background-color: #fff4e6 ;
  color: white;
 opacity: 0.8;
}

/* Navigation */

.text-color
{

  color: white !important;
  transition: 1sec;
  font-size: 1.2rem !important;
  font-weight: 300;
  letter-spacing: 5px;
}

.text-color:hover
{
  color: #20C863 !important;
  transition: 0.6s;
}

.text-color-start
{
  /* font-family: 'Dancing Script'; */
  font-style: italic;
 
}

/* SECTION HEADER */
.headline
{
  color: #20C863;
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.8;
}
.headline-small
{
  color: #20C863;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 1.5;
}


/* Service Cart Background */

.cart-bg
{
 background-color: #040913;
}

/* INTRO IMAGE */
.me-img
{
  
  max-height: 30rem;
  max-width: 30rem;
  border: 1.5rem solid white;
  
}

/* HEADER AND SUB-HEADER */
.header
{
  font-weight:700;
 
  color: white;
  font-size: 9.18rem;
  font-family: 'Big Shoulders Display', cursive;

}
.header-big
{
  margin: 0 0 5rem 0rem;

}


.subheader
{
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: start;
  display: inline;
  font-size: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #0F161C!important;
}
/* technology */

.tec-img
{
  /* border-radius: 50%; */
  height: 2.8rem;
}


.grid-align
{
  display: grid;
  align-items: stretch;
  justify-items: start;
  
}


/* about me */

.about-img
{
  height:auto;
 width: 100%;
}

.port-image
{
  max-height: 20rem;
  
  transition: transform 0.3sec;
}




/* Footer  */


footer p
{
  margin-bottom: 0;
}

.subfooter 
{
  font-size: 12px!important;
}

/* Portfolio */
.hover-effect:hover
{
  transition: 0.6s;
   transform: scale(1.1);
}
